<section id="content"><!-- #content -->
	<article>
		<h2>Create a new Page</h2>

<%= form_for @page do |p|%>
	<p><%=p.label :title%>
	<%=p.text_field :title%></p>

	<p><%=p.label :description, "Desc"%>
	<%= p.text_area :description%></p>
	<%=p.submit%>
<%end%>


</article>
</section><!-- end of #content -->