<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
  <title>Session173UrlHelpers</title>
  <%= stylesheet_link_tag  'application', media: 'screen', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
	<div id="wrapper">
		<%= render 'layouts/header_nav.html.erb'%>
		<div>
		
		<% unless current_page?(root_path) %>
  			<%= link_to "home", root_path%>
			<% end %>
			<%= yield %>
		</div>
		<%= render 'layouts/sidebar.html.erb'%>
		<%= render 'layouts/footer.html.erb'%>
	</div>
</body>
</html>
